<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center margin-bottom-5">
    <h1>New Wish</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render 'form' %>
  </div>
</div>