/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


.margin-bottom-5 {
  margin-bottom: 5%;
}

.margin-top-5 {
  margin-top: 5%;
}

.flip-clock-wrapper ul {
  width: 55.8px !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

/*  .flip-clock-wrapper {
    margin: 0.5em !important;
    width: 101% !important;
  }

  .flip-clock-wrapper ul {
    width: 20px !important;
  }  

  .flip-clock-divider .flip-clock-label {
    right: -67px !important;
  }*/

}